h1 {
    font-size: 40px;
    font-family: fantasy;
}


body {
    background: #3b3b3b;
    margin: auto;
    width: 600px;
    /* text-align: center; */
    padding: 10px;
    padding-bottom: 20px;
}

.container {
    background-color: white;
    padding: 20px 30px;
}

.submit-button {
    padding-bottom: 40px;
}

.submit-button input {
    width: 100px;
    margin-right: 107px;

}

input {
    float: right;
    width: 200px;
}

label {
    float: left;
    max-width: 300px;
}

.vraag {
    padding: 15px 0px;

}

.nav-bar {
    background-color: rgb(176, 9, 9);
    padding: 10px 30px;
}

.nav-bar a {
    color: white;
    text-decoration: none;
    padding-right: 20px;
}

footer {
    text-align: center;
    background-color: #454545;
    color: white;
    padding: 5px;
}