h1 {
    font-size: 30px;
}


body {
    background: #3b3b3b;
    margin: auto;
    width: 600px;
    /* text-align: center; */
    padding: 10px;
    padding-bottom: 20px;
}

.container {
    background-color: white;
    padding: 20px 30px;
}

.submit-button {
    padding-bottom: 40px;
}

.submit-button input {
    width: 100px;
    margin-right: 107px;

}

input {
    float: right;
    width: 200px;
}

label {
    float: left;
    max-width: 300px;
}

.vraag {
    padding: 15px 0px;

}